<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body class="d-flex flex-column h-100">
<header>
  <!-- Begin fixed navbar -->
  <nav class="navbar navbar-expand-lg navbar-default fixed-top">
    <a class="navbar-brand" href="{{ url_for('home') }}">KI SYNAPSE ADMIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdowncreate" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">Actions</a>
          <div class="dropdown-menu" aria-labelledby="dropdowncreate">
            <a class="dropdown-item" href="{{ url_for('synapse_space_create') }}">Create Synapse Space</a>
            <a class="dropdown-item" href="{{ url_for('synapse_space_encrypt') }}">Encrypt Synapse Space</a>
          </div>
        </li>
        {% endif %}
      </ul>
      {% if current_user.is_authenticated %}
      <a class="btn btn-outline-primary btn-outline-login-out" href="{{ url_for('logout') }}">Logout</a>
      {% else %}
      <a class="btn btn-outline-primary btn-outline-login-out" href="{{ url_for('login') }}">Login with Google</a>
      {% endif %}
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
</main>

<!-- Begin Footer -->
<footer class="footer mt-auto py-3">
  <div class="container">
    <span>
      <p>© 2019 Bill & Melinda Gates Foundation</p>
    </span>
  </div>
</footer>

<!-- JS   -->
<script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>


