[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wheel = "*"
autopep8 = "*"
pylint = "*"
pip-upgrader = "*"
pytest = "*"
pytest-mock = "*"
pytest-pylint = "*"
pytest-cov = "*"
coverage = "*"
coveralls = "*"
moto = "*"
responses = "*"


[packages]
sls-tools = "*"
oauthlib = "*"
requests = "*"
synapseclient = "*"
boto3 = "*"
Flask = "*"
Flask-WTF = "*"
Flask-Login = "*"
Werkzeug = "*"
pyOpenSSL = "*"

[requires]
python_version = "3.6"
