{% extends "base.html" %}
{% block title %}Encrypt Synapse Space{% endblock %}
{% block body %}
<div class="row">
  <div class="col">
    <h1>Encrypt Synapse Space
      <button class="btn" type="button" data-toggle="collapse" data-target="#helpSection" aria-expanded="false"
              aria-controls="helpSection">
        <i class="far fa-question-circle" title="Help"></i>
      </button>
    </h1>
    <div class="card collapse mb-3" id="helpSection">
      <div class="card-header">
        Help
      </div>
      <div class="card-body">
        <p>This process will do the following:</p>
        <ul>
          <li>Check that the project exists.</li>
          <li>Check that the storage location has not been set already.</li>
          <li>Show the project details and confirm the correct project ID was entered.</li>
          <li>Set the project to use an encrypted storage location.</li>
        </ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" data-toggle="collapse" data-target="#helpSection"
                aria-expanded="false"
                aria-controls="helpSection">Close
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ form.csrf_token }}

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% endwith %}

      {% if errors %}
      <div class="alert alert-danger" role="alert">
        <span>Errors:</span>
        <ul>
          {% for message in errors %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="form-group">
        {{ form.field_project_id.label }}
        {{ form.field_project_id(class_='form-control') }}
        {% if form.field_project_id.errors %}
        <div>
          {% for error in form.field_project_id.errors %}
          <span class="field-error">[{{ error }}]</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.field_check_project(class_='btn btn-primary') }}
      </div>

      {% if form.can_encrypt %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Confirm Synapse Project</h5>
          <p class="card-text">
          <div class="form-group row">
            <label for="confirmProjectId" class="col-sm-2 col-form-label">Project ID</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="confirmProjectId"
                     value="{{ form.field_project_id.data }}">
            </div>
          </div>
          <div class="form-group row">
            <label for="confirmProjectName" class="col-sm-2 col-form-label">Project Name</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="confirmProjectName"
                     value="{{ form.project_name }}">
            </div>
          </div>
          </p>
          {{ form.field_submit(class_='btn btn-primary') }}
        </div>
      </div>
      {% endif %}

    </form>
  </div>
</div>
{% endblock %}
